<div class="container">
    <a routerLink="enterName" routerLinkActive="active">
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a8333866-8d2c-4709-a10b-4b623f987dea/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230312%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230312T043730Z&X-Amz-Expires=86400&X-Amz-Signature=8a60303c6f78f03f26a5cd2c1d5c8fe4f60684237d0d8a8231ee0ff5dd65e2b6&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22Untitled.png%22&x-id=GetObject"/>
    </a>
</div>